.heading{
  height:30px;
}
.headingText{
  font-size:20px;
}
.body{
  font-size:10px;
  font-weight: 400;
}

img{
  height:45px;
}

.center{
  text-align: center
}

.red{
  color: grey;
}

.green{
  color: #6cc644;
}